# Python package dependencies for the Harmoniscope project.
#
# Versions are "pinned" to specific versions known to be compatible with
# the Python 3.4 environment on the Raspbian Jessie operating system.
flask==0.12.5
jsmin==2.2.2